:root {
  --primary-color: #222222;
  --neutral-color: #white;
}

body {
  background-color: var(--neutral-color);
  font-family: "Orbitron", Lato, "PT Sans", -apple-system, BlinkMacSystemFont,
    Roboto, Ubuntu, "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
}

.main__header,
.notify__message {
  text-align: center;
}

.main {
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-gap: 0.4rem;
  height: 100vh;
  width: 100vw;
}

.form {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.input {
  position: relative;
  left: -999px;
}

.label {
  flex: 1 1 30%;
}

.img {
  height: auto;
  width: 25vw;
}

.table {
  margin: 0 auto;
  width: 30vw;
}

.table__text-header {
  text-align: center;
}

.canvas__wrapper {
  margin: 0 auto;
  width: 80vw;
}

@media screen and (min-width: 22rem) {
  .wrapper {
    width: 70%;
  }
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
div,
p,
button {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}
